@charset "utf-8";

/* Font */
@font-face {
	font-family: ITCEras;
	src: url(ERASLGHT.woff);
}

/* Background Image */
html, body {
	height: 100%;
	margin: 0;
}

#background {
	background-image: url("full_hd.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Loading Screen */
#loadingScreen {
	position: relative;
	top: 225px;
	text-align: center;
	color: #162b89;
}

#loadingScreen>p {
	font-size: 8em;
	font-family: "ITCEras";
	margin: 0;
	padding: 0;
}

#loadingScreen>p+p {
	font-size: 1.75em;
	font-family: "ITCEras";
	margin: 0;
	padding: 0;
}

/* Search Screen */
#searchScreen {
	position: relative;
	top: 300px;
	color: #162b89;
	margin: auto;
	max-width: 500px;
}

#searchScreen input {
	padding: 10px;
	width: 100%;
	font-family: "ITCEras";
	font-size: 25px;
	color: #162b89;
	border: 1px solid white;
	background: none;
}

#searchScreen button {
	position: relative;
	top: 30px;
	left: 50%;
	padding: 0;
	color: #162b89;
	border: none;
	cursor: pointer;
	background: none;
}

#searchScreen button:hover {
	color: #0aa3f5;	
}