@charset "utf-8";

html, body {
	height: 100%;
	margin: 0;
}

#background {
	background-image: url("full_hd.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}