@charset "utf-8";

/* Font */
@font-face {
	font-family: ITCEras;
	src: url(ERASLGHT.woff);
}

/* Background Image */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#background {
	background-image: url("full_hd.jpg");
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#logo {
	font-size: 3em;
	font-family: "ITCEras";
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	width: 100%;
}

/* Loading Screen */
#loadingScreen {
	position: absolute;
	top: 25%;
	text-align: center;
	color: #162b89;
	width: 100%;
}

#loadingScreen>p {
	width: 100%;
	font-size: 7em;
	font-family: "ITCEras";
	margin: 0;
	padding: 0;
}

#loadingScreen>p+p {
	font-size: 1.55em;
	font-family: "ITCEras";
	margin: 0;
	padding: 0;
	width: 100%;
}

/* Search Screen */
#searchScreen {
	position: relative;
	top: 30%;
	color: #162b89;
}

#searchScreen input {
	display: block;
	padding: 1%;
	width: 95%;
	margin: auto;
	border: 1px solid white;
	font-family: "ITCEras";
	font-size: 25px;
	color: #162b89;
	background: none;
}

#searchScreen button {
	position: relative;
	top: 30px;
	padding: 0;
	color: #162b89;
	border: none;
	cursor: pointer;
	background: none;
	width: 100%;
}

#searchScreen button:hover {
	color: #0aa3f5;
}

/* Result Screen */
#resultScreen {
	text-align: center;
	color: white;
	width: 100%;
	text-align: center;
}

#resultScreen img {
	display: block;
	margin: auto;
	width: 90%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#resultScreen>span {
	position: absolute;
	top: 30%;
	left: 30%;
}

#resultScreen>span+span {
	position: absolute;
	top: 50%;
	left: 60%;
}

#resultScreen span:hover {
	cursor: pointer;
	color: #0aa3f5;
}

/* Place Screen */
#placeDiv {
	display: block;
	text-align: center;
	font-family: "ITCEras";
	color: #162b89;
	width: 100%;
	font-size: 1.5em;
	position: absolute;
	top: 25%;
}

#placeDiv button {
	color: #162b89;
	border: none;
	cursor: pointer;
	background: none;
	padding-left: 25px;
	padding-right: 25px;
}

#placeDiv button:hover {
	color: #0aa3f5;	
}

/* Info Screen */

#infoScreen{
	display: block;
	text-align: center;
	font-family: "ITCEras";
	color: #162b89;
	width: 100%;
	font-size: 1.2em;
	position: absolute;
}

#infoScreen span{
	font-size: 2em;
}

