@charset "utf-8";

/* Font */
@font-face {
	font-family: ITCEras;
	src: url(ERASLGHT.woff);
}

/* Background Image */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#background {
	background-image: url("full_hd.jpg");
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#logo {
	font-size: 3em;
	font-family: "ITCEras";
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	width: 100%;
}


/* Loading Screen */
#loadingScreen {
	position: absolute;
	top: 30%;
	text-align: center;
	color: #162b89;
	width: 100%;
}

#loadingScreen>p {
	width: 100%;
	font-size: 8em;
	font-family: "ITCEras";
	margin: 0;
	padding: 0;
}

#loadingScreen>p+p {
	font-size: 1.75em;
	font-family: "ITCEras";
	margin: 0;
	padding: 0;
	width: 100%;
}

/* Search Screen */
#searchScreen {
	position: relative;
	top: 15%;
	color: #162b89;
}

#searchScreen input {
	display: block;
	padding: 1%;
	width: 95%;
	margin: auto;
	border: 1px solid white;
	font-family: "ITCEras";
	font-size: 25px;
	color: #162b89;
	background: none;
}

#searchScreen button {
	position: relative;
	top: 30px;
	padding: 0;
	color: #162b89;
	border: none;
	cursor: pointer;
	background: none;
	width: 100%;
}

#searchScreen button:hover {
	color: #0aa3f5;	
}
